.body {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.55em;
  background-color: white;
  max-width: 1110px;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
}
.container {
  font-size: 16px;
  width: 100%;
  max-width: 1110px;
  margin: auto;
  margin: auto;
}

.header_mapPhone {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.map {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.5s linear;
}
.map:hover {
  color: blue;
}
.call {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.5s linear;
}
.call:hover {
  color: blue;
}
.nav {
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-decoration: none;
}
.nav_link {
  text-decoration: none;
  margin-right: 110px;
  color: white;
  transition: color 0.5s linear;
}
.nav_link:first-child {
  margin-left: 100px;
}
.nav_link:hover {
  color: blue;
}

.first {
  height: 900px;
  width: 1894px;
  background: url(/img/fon.jpg) center no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.offer {
  align-items: center;
  text-align: center;
  padding-top: 710px;
  padding-bottom: 165;
}
.btn {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #99862a;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 30px 15px 30px;
}
.btn:hover {
  background-color: #996312;
}
.btn:active {
  background-color: #633d04;
}
.second {
  position: relative;
  background: #282828;
  height: 856px;
  width: 1894px;
  font-family: "Playfair Display";
  color: white;
}

.taste {
  align-items: center;
  text-align: center;
  width: auto;
  height: 660px;
  box-sizing: content-box;
  padding-top: 100px;
}
.content-box {
  margin-top: 0px;
  box-sizing: border-box;
  border: 2px solid white;
}
h1 {
  margin-top: 60px;
  font-size: 30px;
  font-family: "Playfair Display";
  line-height: 150%;
}
hr {
  width: 160px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: lighter;
  max-height: 193px;
  max-width: 733px;
  margin-left: 188px;
  text-align: center;
}
.wineglass {
  width: 160px;
  height: 160px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.third {
  position: relative;
  width: 1894px;
  height: 1038px;
  background: #e6e3c4;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 16px;
}
.thirdd {
  width: auto;
  max-width: 1110px;
  margin: auto;
  height: 900px;
  padding-top: 80px;
}

.slider {
  max-width: 100%;
  height: 600px;
  border: 2px solid black;
  overflow: hidden;
}
.slider-line {
  display: flex;
  height: 600px;
  width: 1800px;
  transition: all ease 1s;
}
.buttonPN {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.h2Third {
  margin: 20px 20px 20px 20px;
  width: 100%;
  max-width: 1100px;
  left: 0;
}

.four {
  position: relative;
  width: 1894px;
  height: 720px;
  background: #282828;
  top: 0;
  left: 0;
  z-index: 1000;
}
.fourC {
  display: flex;
  justify-content: center;

  width: 1894px;
  height: 720px;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 16px;
}

.record {
  position: absolute;
  width: 1110px;
  height: 580px;
  box-sizing: border-box;
  border: 2px solid white;
  margin-top: 129px;
  text-align: center;
}

.titleRecord {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: white;

  margin-top: 80px;
}

.fourHr {
  width: 120px;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
h3 {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: lighter;
  height: 72px;
  width: 539px;
  color: white;
  margin-left: 285px;
  margin-right: 285px;
  margin-bottom: 50px;
  text-align: center;
}

.grape {
  position: absolute;
  z-index: 2000;
  margin-left: 375px;
  margin-top: 64px;
}
.r {
  position: absolute;
  z-index: 2000;
  margin-left: 1300px;
  margin-right: 450px;
  margin-top: 64px;
}

.recordPage {
  position: absolute;

  z-index: 1900;

  margin-top: 90px;
  margin-bottom: 80px;
}
input {
  outline: none;
}

.name {
  width: 254px;
  height: 20px;
  background: #282828;
  color: white;
  border: 0;

  /* border-bottom: 1px solid white; */
}
.name:hover {
  background: #181717;
}

.phone {
  width: 254px;
  height: 20px;
  background: #282828;
  margin-bottom: 40px;
  color: white;
  border: 0;
}
.phone:hover {
  background: #181717;
}

select {
  display: flex;
  margin-left: 290px;
  margin-top: 40px;
  font-family: "Montserrat";
  width: 254px;
  height: 20px;
  color: white;
  background: #282828;
  margin-bottom: 40px;
  border: 0;
}

.recording {
  font-size: 18px;
  font-family: "Montserrat";
  width: 540px;
  height: 60px;
  background: #282828;
  color: white;

  border-color: white;
  border-style: solid;
  margin-top: 50px;
  transition: color 0.5s linear;
}
.recording:hover {
  background: #181717;
}
